.actions{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 230px;
}

.loading{
  filter: blur(3px);
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.playlist-search{
  width: 100%;
  margin-bottom: 15px;

  input{
    width: 100%;
  }
}

.item-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #acacac;
}
