@import "variables";

.footer{
  background-color: $black;
  border-top: 3px solid #fafafa;
  padding: 50px;

  .logo{
    display: block;
    text-align: center;
    margin: 0 auto 75px;
  }

  .text{
    color: $white;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway';
  }
}
