
.player-wrapper{
  margin: 50px auto;

  &.loading{
    filter: blur(3px);
    pointer-events: none;
  }

  .player-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    font-size: 48px;
    padding: 5px 0;
    color: #fff;

    i{
      font-size: 25px;
      font-weight: 600;
      cursor: pointer;
      margin-right: 15px;
    }
  }

  .player-body{
    display: flex;
    justify-content: center;
    padding: 50px;
    position: relative;
    z-index: 1;

    .player__blur{
      width: 80%;
      height: 80%;
      filter: blur(75px);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      translate: -50% -50%;
    }

    .player-current{
      width: calc(100% - 350px);

      .player__cover{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-duration: 25s;
        animation-delay: 1s;
        animation-timing-function: linear;
      }

      .player__audio{
        width: 100%;
        margin: 50px auto;
      }
    }
  }
}

.spinner{
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

@keyframes rotate {
  from{
    rotate: 0;
  }
  to{
    rotate: 360deg;
  }
}
